.u-section-1 .u-sheet-1 {
  min-height: 75px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 1rem;
  width: 185px;
  margin: 14px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}.u-section-2 {
  background-image: none;
  min-height: 1684px;
}

.u-section-2 .u-group-1 {
  min-height: 399px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-1 {
  width: 828px;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-2 .u-blog-1 {
  width: 1084px;
  margin: -231px auto 54px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 1456px;
  margin-bottom: 0;
  grid-auto-columns: calc(33.3333% - 14.6667px);
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 58px;
  width: 257px;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px;
}

.u-section-2 .u-metadata-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px;
}

.u-section-2 .u-metadata-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 15px;
}

.u-section-2 .u-metadata-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-4 {
  background-size: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-4 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-5 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 15px;
}

.u-section-2 .u-metadata-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-5 {
  background-size: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-5 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-6 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 15px;
}

.u-section-2 .u-metadata-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-blog-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1263px;
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 214px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-1 {
    padding: 10px 30px 10px 29px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 214px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-2 {
    padding: 10px 30px 10px 29px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    width: 214px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-3 {
    padding: 10px 30px 10px 29px;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-5 {
    width: 214px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-4 {
    padding: 10px 30px 10px 29px;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-6 {
    width: 214px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-btn-5 {
    padding: 10px 30px 10px 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 660px;
  }

  .u-section-2 .u-blog-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 494px;
    grid-auto-columns: calc(50% - 11.000025px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }

  .u-section-2 .u-blog-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-group-2 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 265px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-3 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: 265px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-4 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: 265px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-5 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    width: 265px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-6 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    width: 265px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
    font-size: 3rem;
    margin-top: 21px;
  }

  .u-section-2 .u-blog-1 {
    width: 340px;
    margin-top: -232px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-group-2 {
    width: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-3 {
    width: 239px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-4 {
    width: 239px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-5 {
    width: 239px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-6 {
    width: 239px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-3 {
  min-height: 252px;
}

.u-section-3 .u-image-1 {
  height: 250px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-family: Archivo;
  font-size: 3rem;
  text-shadow: 0 0 22px rgba(0,0,0,1);
  margin: -177px calc(((100% - 1140px) / 2) + 38px) 60px calc(((100% - 1140px) / 2) + 260px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: 481px;
    margin: -212px auto 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: -202px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    object-position: 0.05% 50%;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: -150px 38px 60px;
  }
}