.u-section-1 .u-sheet-1 {
  min-height: 75px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 1rem;
  width: 185px;
  margin: 14px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}.u-section-2 {
  background-image: none;
}


.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1889px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 828px;
  min-height: 1823px;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  text-shadow: -2px 0 15px rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: Archivo;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px auto 0 30px;
}

.u-section-2 .u-image-1 {
  height: 401px;
  margin: 17px 30px 0;
  padding: 0 15px;
}

.u-section-2 .u-text-2 {
  font-family: Archivo;
  margin: 17px auto 0 30px;
}

.u-section-2 .u-text-3 {
  font-family: Archivo;
  font-weight: 700;
  margin: -26px auto 0 116px;
}

.u-section-2 .u-icon-2 {
  color: rgb(226, 0, 0) !important;
}

.u-section-2 .u-text-4 {
  font-family: Archivo;
  font-weight: 700;
  margin: -26px auto 0 280px;
}

.u-section-2 .u-text-5 {
  font-family: Archivo;
  margin: 21px 30px 0;
}

.u-section-2 .u-text-6 {
  font-family: Archivo;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-7 {
  font-family: Archivo;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-8 {
  font-family: Archivo;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 73px auto 0 37px;
}

.u-section-2 .u-icon-4 {
  color: rgb(226, 0, 0) !important;
}

.u-section-2 .u-list-1 {
  width: 753px;
  margin: 30px 17px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 579px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0 147px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0 147px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0 147px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1889px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 101px;
  margin-bottom: 0;
  margin-top: 0;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  text-shadow: 0 0 15px rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-search-1 {
  margin-top: 32px;
  margin-bottom: 0;
  min-height: 38px;
}

.u-section-2 .u-search-input-1 {
  font-family: Archivo;
}

.u-section-2 .u-group-3 {
  min-height: 235px;
  margin-bottom: 0;
  margin-top: 30px;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  text-shadow: 0 0 15px rgba(0,0,0,0);
  width: 285px;
}

.u-section-2 .u-container-layout-8 {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-text-15 {
  font-family: Archivo;
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-text-16 {
  font-family: Archivo;
  color: rgb(235, 186, 22) !important;
  line-height: 2.2;
  font-size: 1rem;
  font-weight: normal;
  margin: 16px 0 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: Archivo;
  padding: 0;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-family: Archivo;
  padding: 0;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-family: Archivo;
  padding: 0;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-family: Archivo;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2147px;
  }

  .u-section-2 .u-group-1 {
    width: 689px;
    min-height: 2147px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-image-1 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 251px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 106px;
  }

  .u-section-2 .u-list-1 {
    width: 674px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1558px;
  }

  .u-section-2 .u-search-1 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 2406px;
  }

  .u-section-2 .u-group-1 {
    width: 524px;
    min-height: 2406px;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 116px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 492px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 2406px;
  }

  .u-section-2 .u-group-3 {
    min-height: 280px;
    width: auto;
  }

  .u-section-2 .u-text-15 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-16 {
    line-height: 1.8;
    font-size: 0.875rem;
    font-weight: 700;
    width: auto;
    margin-right: 10px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 2289px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2235px;
  }

  .u-section-2 .u-image-1 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-2 .u-group-2 {
    width: 524px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 524px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 2728px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 2698px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 220px;
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 117px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 972px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}