.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 1rem;
  width: 180px;
  margin: 25px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1232px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  font-family: Archivo;
  margin: 60px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  width: 865px;
  font-family: Archivo;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 842px;
  grid-gap: 15px 15px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-2 .u-image-1 img {
  width: 93px;
  height: 93px;
  border-radius: 50%;
}

.u-section-2 .u-text-3 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-4 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-2 .u-text-5 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-6 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-2 .u-text-7 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-8 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-2 .u-text-9 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-10 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-2 .u-text-11 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-12 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 25px;
}

.u-section-2 .u-text-13 {
  font-size: 1.0625rem;
  line-height: 2;
  font-family: Archivo;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-11 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-12 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-14 {
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 46px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 1196px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/server.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: Archivo;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-family: Archivo;
  font-size: 1.125rem;
  margin: 20px 285px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  margin: 30px auto 0 0;
  padding: 10px 35px 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-image-1 {
    min-height: 554px;
    background-position: 48.23% 50%;
    background-size: auto 70%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-image-1 {
    min-height: 667px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-image-1 {
    min-height: 442px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}.u-section-4 {
  min-height: 252px;
}

.u-section-4 .u-image-1 {
  height: 250px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-family: Archivo;
  font-size: 3rem;
  text-shadow: 0 0 22px rgba(0,0,0,1);
  margin: -177px calc(((100% - 1140px) / 2) + 38px) 60px calc(((100% - 1140px) / 2) + 260px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: 481px;
    margin: -212px auto 48px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 540px) / 2) + 141px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    object-position: 0.05% 50%;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: -150px 38px 60px;
  }
}