.u-section-1 .u-sheet-1 {
  min-height: 75px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 1rem;
  width: 185px;
  margin: 14px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 641px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 48px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Archivo;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Archivo;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-2 .u-image-1 {
  min-height: 316px;
  background-image: url("../images/about.png");
  background-size: 70%;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-3 {
  font-family: Archivo;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-2 .u-text-4 {
  font-family: Archivo;
  font-size: 1.25rem;
  margin: 20px 193px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 261px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 189px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 506px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Archivo;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 604px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 0 5px 0 rgba(128,128,128,1);
  text-shadow: 0 0 5px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 img {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-family: Archivo;
  margin: -186px 0 0 223px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Archivo;
  margin: 17px 0 0 223px;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-weight: 300;
  font-family: Archivo;
  margin: 21px 0 0 223px;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 37px 164px 0 auto;
}

.u-section-3 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 0 5px 0 rgba(128,128,128,1);
  text-shadow: 0 0 5px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-family: Archivo;
  margin: -186px 0 0 223px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Archivo;
  margin: 17px 0 0 223px;
}

.u-section-3 .u-text-7 {
  font-style: normal;
  font-weight: 300;
  font-family: Archivo;
  margin: 21px 0 0 223px;
}

.u-section-3 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 37px 164px 0 auto;
}

.u-section-3 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 0 5px 0 rgba(128,128,128,1);
  text-shadow: 0 0 5px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}


.u-section-3 .u-text-8 {
  font-weight: 400;
  font-family: Archivo;
  margin: -186px 0 0 223px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Archivo;
  margin: 17px 0 0 223px;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  font-weight: 300;
  font-family: Archivo;
  margin: 21px 0 0 223px;
}

.u-section-3 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 37px 164px 0 auto;
}

.u-section-3 .u-icon-9 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0 0 5px 0 rgba(128,128,128,1);
  text-shadow: 0 0 5px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-family: Archivo;
  margin: -186px 0 0 223px;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Archivo;
  margin: 17px 0 0 223px;
}

.u-section-3 .u-text-13 {
  font-style: normal;
  font-weight: 300;
  font-family: Archivo;
  margin: 21px 0 0 223px;
}

.u-section-3 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 37px 164px 0 auto;
}

.u-section-3 .u-icon-12 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 498px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-4 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
  }

  .u-section-3 .u-text-11 {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    width: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }

  .u-section-3 .u-social-icons-4 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-text-1 {
  font-family: Archivo;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Archivo;
  margin: 20px 40px 0;
}

.u-section-4 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 444px;
  width: 1140px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-4 .u-image-1 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-family: Archivo;
  font-weight: 700;
  margin: -270px 0 0 347px;
}

.u-section-4 .u-text-4 {
  font-family: Archivo;
  line-height: 25.6px;
  margin: 20px 0 0 347px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-4 .u-image-2 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-family: Archivo;
  margin: -268px 0 0 348px;
}

.u-section-4 .u-text-6 {
  font-family: Archivo;
  line-height: 25.6px;
  margin: 20px 0 0 348px;
}

.u-section-4 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-4 .u-slider-1 {
    height: auto;
    width: 940px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 312px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 42px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 312px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    height: 326px;
    margin-top: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}