.u-section-1 .u-sheet-1 {
  min-height: 75px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 1rem;
  width: 185px;
  margin: 14px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    font-size: 1rem;
  }
}.u-section-2 {
  background-image: none;
  min-height: 743px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: Archivo;
  font-weight: 700;
  margin: 47px auto 0 calc(((100% - 1140px) / 2) + 130px);
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Archivo;
  font-style: normal;
  margin: 30px 280px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 47px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 521px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-family: Archivo;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-6 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-2 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-2 .u-line-4 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-9 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 28px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 514px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-family: Archivo;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-2 .u-text-12 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-13 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-2 .u-text-14 {
  margin: 11px 0 0;
}

.u-section-2 .u-line-7 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-2 .u-text-15 {
  margin: 13px 0 0;
}

.u-section-2 .u-line-8 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-16 {
  margin: 13px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 422px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-2 .u-text-17 {
  font-family: Archivo;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-2 .u-text-19 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-2 .u-line-9 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-20 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-2 .u-line-10 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-2 .u-text-21 {
  margin: 11px 0 0;
}

.u-section-2 .u-line-11 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-2 .u-text-22 {
  margin: 13px 0 0;
}

.u-section-2 .u-line-12 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-23 {
  margin: 13px 0 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 751px;
  }

  .u-section-2 .u-text-2 {
    width: 740px;
    margin-left: calc(((100% - 1140px) / 2) + 200px);
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-8 {
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-2 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-12 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 960px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1931px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1865px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: Archivo;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: Archivo;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  margin: 30px auto 0 0;
  padding: 10px 35px 10px 34px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/managed-wordpress-hosting.png");
  background-size: auto 70%;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    background-size: auto 60%;
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    background-position: 93.48% 50%;
    min-height: 286px;
    background-size: auto 70%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 379px;
    background-size: auto 80%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/server.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Archivo;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  font-family: Archivo;
  font-size: 1.125rem;
  margin: 20px 285px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  margin: 30px auto 0 0;
  padding: 10px 35px 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-image-1 {
    min-height: 554px;
    background-position: 48.23% 50%;
    background-size: auto 70%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-image-1 {
    min-height: 534px;
    background-size: auto 80%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .u-section-4 .u-image-1 {
    min-height: 442px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}