.u-section-1 {
  background-image: linear-gradient(to right, #007bff, #7cb9fb);
}

.u-section-1 .u-sheet-1 {
  min-height: 667px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Archivo;
  font-size: 4.5rem;
  margin: 61px auto 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Archivo;
  margin: 30px auto 0 10px;
  padding: 10px 33px 10px 32px;
}

.u-section-1 .u-image-1 {
  background-image: url("../images/main-pic-ru.png");
  min-height: 461px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    animation-duration: 1000ms;
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    animation-duration: 1000ms;
    background-size: auto 80%;
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-1 {
    background-size: auto 70%;
    min-height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    background-size: 90%;
    min-height: 394px;
    background-position: 38.6% 0%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 248px;
  }
}.u-section-2 {
  min-height: 360px;
}

.u-section-2 .u-image-1 {
  height: 143px;
  object-position: 33.16% 50%;
  margin-top: -131px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1220px);
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Archivo;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 52px;
}

.u-section-2 .u-text-2 {
  margin-left: 52px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 77px;
  margin: 3px 52px 0 0;
}

.u-section-2 .u-label-1 {
  font-family: Archivo;
}

.u-section-2 .u-input-1 {
  font-family: Archivo;
  letter-spacing: 0px;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-family: Archivo;
}

.u-section-2 .u-input-2 {
  font-family: Archivo;
  letter-spacing: 0px;
}

.u-section-2 .u-btn-1 {
  font-family: Archivo;
  background-image: none;
  border-style: none;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-family: Archivo;
  font-weight: 700;
  width: 506px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    width: 504px;
  }

  .u-section-2 .u-text-3 {
    width: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin: 0 auto 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 588px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -9px;
    margin-bottom: 24px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-form-1 {
    height: 203px;
    width: 540px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 510px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -37px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 767px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Archivo;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Archivo;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 256px;
  min-height: 179px;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-5 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding-right: 20px;
  padding-left: 30px;
}

.u-section-3 .u-text-13 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Archivo;
}

.u-section-3 .u-text-14 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Archivo;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
  }

  .u-section-3 .u-group-5 {
    width: 235px;
  }

  .u-section-3 .u-group-6 {
    width: 235px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 856px;
}

.u-section-4 .u-image-1 {
  height: 119px;
  margin-top: -82px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: Archivo;
  font-weight: 700;
  margin: 110px auto 0 calc(((100% - 1140px) / 2) + 130px);
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Archivo;
  font-style: normal;
  margin: 30px 280px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 521px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: Archivo;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-4 .u-text-5 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-6 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-4 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-4 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-4 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-4 .u-line-4 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-9 {
  margin: 15px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 28px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 514px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-10 {
  font-family: Archivo;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-4 .u-text-12 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-4 .u-line-5 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-13 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-4 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-4 .u-text-14 {
  margin: 11px 0 0;
}

.u-section-4 .u-line-7 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-4 .u-text-15 {
  margin: 13px 0 0;
}

.u-section-4 .u-line-8 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-16 {
  margin: 13px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-4 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 422px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-4 .u-text-17 {
  font-family: Archivo;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-18 {
  font-size: 3rem;
  font-style: normal;
  margin: 8px auto 0;
}

.u-section-4 .u-text-19 {
  font-family: Archivo;
  margin: 11px auto 0;
}

.u-section-4 .u-line-9 {
  height: 3px;
  transform-origin: left center;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-20 {
  line-height: 25.6px;
  margin: 10px 0 0;
}

.u-section-4 .u-line-10 {
  height: 3px;
  transform-origin: left center;
  margin: 13px 0 0 auto;
}

.u-section-4 .u-text-21 {
  margin: 11px 0 0;
}

.u-section-4 .u-line-11 {
  height: 3px;
  transform-origin: left center;
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-4 .u-text-22 {
  margin: 13px 0 0;
}

.u-section-4 .u-line-12 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-text-23 {
  margin: 13px 0 0;
}

.u-section-4 .u-btn-3 {
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 9px 53px 11px 51px;
}

.u-section-4 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 765px;
  }

  .u-section-4 .u-text-2 {
    width: 740px;
    margin-left: calc(((100% - 1140px) / 2) + 200px);
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-4 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-8 {
    margin-right: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-4 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-12 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 960px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-top: 33px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1931px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1865px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 61px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 540px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.u-section-5 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/server.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-family: Archivo;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  font-family: Archivo;
  font-size: 1.125rem;
  margin: 20px 285px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  margin: 30px auto 0 0;
  padding: 10px 35px 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-image-1 {
    min-height: 554px;
    background-position: 48.23% 50%;
    background-size: auto 70%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-image-1 {
    min-height: 667px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .u-section-5 .u-image-1 {
    min-height: 442px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}.u-section-6 {
  min-height: 252px;
}

.u-section-6 .u-image-1 {
  height: 250px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-family: Archivo;
  font-size: 3rem;
  text-shadow: 3px 5px 5px rgba(0,0,0,1);
  margin: -177px calc(((100% - 1140px) / 2) + 38px) 60px calc(((100% - 1140px) / 2) + 260px);
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    width: 481px;
    margin: -212px auto 48px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    object-position: 0.05% 50%;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: -150px 38px 60px;
  }
}